.news-single-page {
    & .hero-v2 {
        margin-bottom: 0;
    }

    & .hero-v2__body {
        min-height: 297px;
    }
}
.news-single {
    margin-top: -298px;
    margin-bottom: 74px;

    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }
    &__body {
        max-width: 1335px;
        
        @media (min-width: 992px) {
            display: flex;
        }
    }

    &__col-1 {
        flex: 0 0 57.22%;
        box-shadow: 0 2px 6px rgba(139, 139, 139, 0.32);
        border-radius: 5px;
        background-color: #ffffff;
        margin-bottom: 50px;

        @media (min-width: 992px) {
            margin-bottom: 0;
            margin-right: 50px;
        }

        & .breadcrumbs {
            margin-bottom: 11px;
            & > li {
                color: #395c7a;

                & a {
                    color: #395c7a;

                    @media (min-width: 992px) {
                        &:hover {
                            color: $mainColor;
                        }
                    }
                }
            }
        }
    }
    &__col-2 {
        flex: 1 1 auto;
    }

    &__img {
        height: 298px;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        margin-bottom: 36px;

        @media (max-width: $md4+px) {
            margin-bottom: 25px;
        }
    }

    &__text-wrap {
        padding: 0 45px 38px 40px;

        @media (max-width: $md4+px) {
            padding: 0 15px 20px 15px;
        }
    }

    &__head {
    }

    &__title {
        margin-bottom: 12px;
        line-height: 1.1em;
    }

    &__date {
        color: rgba($mainColor4, 0.67);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3em;
        margin-bottom: 16px;
    }

    &__text {
        margin-bottom: 34px;

        &.text-content {

        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#1b254a, 0.08);
        min-height: 73px;
        padding: 10px;
        transition: all 0.3s ease;
        color: rgba(#454d6c, 0.55);
        font-size: 13px;
        font-weight: 700;

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba(#1b254a, 0.18);
            }
        }
    }
}
